<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
    <link href="{{ url_for('static', filename='stylesheets/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='stylesheets/calnutri.css') }}" rel="stylesheet" media="screen">
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>

</head>

<body>
  <div id="hdr"></div>
  <div>

    <div class="container wht pb-5">
         <h1> Get nutrition of your meal </h1>
        <div class="pb-5">
        <button class="btn btn-outline-primary btn-block" onclick="addel()">add a dish</button> for
        <select id="mealtype" class="btn btn-outline-primary btn-block">
         <option selected value="day">whole day</option>  <option value="breakfast">breakfast</option>
         <option value="lunch">lunch</option> <option value="dinner">dinner</option>
</select>  </div>
        <div id="parent"></div>
        <button class="btn btn-success btn-block" onclick="subdata()" id="sub">get nutrition</button>

    </div>

  </div>

  <div class="container ylw font-weight-bold">
  <div id="nutri" >
 <div class="row">
      <p class="col"> nutrition label </p> <p class="col"> meal nutrition </p>  <p class="col"> nutrient requirements </p>
      </div>
      </div>

      </div>

</body>

    <script>

        const parnt= document.getElementById("parent");
const nutrdv= document.getElementById("nutri")
var dv= document.createElement("div");
nutrdv.appendChild(dv);
//parnt.style.backgroundColor= "lightpink";

var num=0;
let dsh = new Array(15);

function addel(){
//parnt.style.backgroundColor= "lightyellow";
dsh[num]= new dishel();  document.getElementById("sub").style.display= "block";
}


class drpdwnopt{
  constructor(drpdwn,inp,dsh,indx){
  //dv.style.backgroundColor='lightblue';
    this.drpdwn= drpdwn;
    this.inp= inp; this.dsh= dsh;
    this.indx=indx;
    this.optnstb= document.createElement("p");
    this.optnstb.innerHTML= this.dsh;
    this.optnstb.setAttribute('indx',indx);
    this.optnstb.addEventListener("click", ()=> {this.del()});
    this.drpdwn.appendChild(this.optnstb);
    this.optnstb.className= "pbtn";
  }
  del(){
    this.drpdwn.innerHTML=" "; //this.drpdwn.innerHTML=this.optnstb.getAttribute('indx');
    this.inp.value= this.optnstb.innerHTML;

    this.inp.setAttribute('indx',this.optnstb.getAttribute('indx'));

  }

}

class dishel{
  constructor(){
   //parnt.style.backgroundColor= "lightorange";
   this.dv= document.createElement("div");
   this.inpgrp= document.createElement("div");
   this.inp= document.createElement("input");
   this.inp2= document.createElement("input");
   this.dlt= document.createElement("button");
   this.drpdwn= document.createElement("div");

   parnt.appendChild(this.dv);
   this.dv.appendChild(this.inpgrp);
   this.dv.appendChild(this.drpdwn);
   this.inpgrp.appendChild(this.inp);  this.inpgrp.appendChild(this.inp2);
   this.inpgrp.appendChild(this.dlt);

   this.inp.placeholder= "dish name"; this.inp2.placeholder= "Quantity in grams"; this.inp2.type= "number";
   this.dlt.innerHTML= "remove";

   this.dlt.addEventListener("click", ()=> {this.delt()} );
   this.inp.addEventListener("change", ()=> {this.inpchng()} );

   this.dv.className= "flx";
   this.inpgrp.className= "input-group";
   this.dlt.className= "btn btn-dark input-group-append";
   this.drpdwn.className= "drpdwnmenu";
   num++;
  }
  inpchng(){
  //parnt.style.backgroundColor= "lightgreen";
  var inp = this.inp; var inp2 = this.inp2;

  var drpdwn= this.drpdwn; drpdwn.innerHTML=" ";
  var dishsrch= this.inp.value;

  $.ajax({
    type:'POST',
    url: "{{url_for('calnutri')}}",
    //dataType: "json",
    contentType: "application/json",
    data: JSON.stringify({'dat': dishsrch, 'srch':'yes'}),
    success: function(data){
      var jsndt= JSON.parse(data);
        for(var dshid in jsndt){

      var optob= new drpdwnopt(drpdwn, inp, jsndt[dshid], dshid);

      }

     },
    error: function(reslt){alert(reslt);}
 });
  }

  delt(){
   //parnt.style.backgroundColor= "lightblue";
   this.dv.remove();
   var indx= dsh.indexOf(this);
   if(indx >-1){dsh.splice(indx,1);}
   //parnt.style.backgroundColor= "lightpink";
   num--;
  }
}

    </script>

<script>
        function subdata(){
    //parnt.style.backgroundColor= "orange";

    let dish= []; var dishqty= [];

    for(let i=0; i<num; i++){

    dish[i]= dsh[i].inp.getAttribute("indx");
    dishqty[i]=  dsh[i].inp2.value;
    }
    var mealtyp= $("#mealtype").val();


 $.ajax({
    type:'POST',
    url: "{{url_for('calnutri')}}",
    //dataType: "json",
    contentType: "application/json",
    data: JSON.stringify({'dat': dish, 'srch':'no', 'mealtyp': 'day', 'dishqty': dishqty}),
    success: function(data){ var dat = JSON.parse(data);
    dv.innerHTML=" ";
     for(var el in dat){
      var rw= document.createElement("div"); rw.className="row";
      var optnstb= document.createElement("p"); optnstb.className="col";
      optnstb.innerHTML= el;
      rw.appendChild(optnstb);
      var optnsvl= document.createElement("p"); optnsvl.className="col";
      optnsvl.innerHTML= dat[el][0];
      rw.appendChild(optnsvl);
      var optnsvl2= document.createElement("p"); optnsvl2.className="col";
      optnsvl2.innerHTML= dat[el][1];
      rw.appendChild(optnsvl2);
      dv.appendChild(rw);
      }
     document.getElementById("nutri").appendChild(dv);
     },
    error: function(reslt){alert(JSON.parse(reslt));}
 });

}
    </script>

</html>

 